* {
//   padding: 0;
//   margin: 0;
  box-sizing: border-box;
}
@import "colors";

body {
  padding: 1.2rem;
  background-color: $Light-grayish-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font: {
    size: 13px;
    family: sans-serif;
  }
}
